body {
    background-color: rgb(80, 80, 80);
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1080px;
    width: 95%;
}

.row {
    display: flex; 
    padding-top: 20px;
    justify-content: center;
    width: 1720px;
}

.col {
    background-color: rgb(144, 144, 144);
    border-radius: 10px;
    box-shadow: 10px 10px 8px black;
}

.title {
    display: flex;
    height: 150px;
    width: 1700px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.relative{
    position: relative;
    left: 440px;
    top: 15px;
    height: 160px;
}

.icons {
    display: flex;
    height: 90%;
    padding-right: 10px;
    flex-direction: column;
    justify-content: space-between;
}
.img-title {
    height: 130px;
    width: auto;
    border-radius: 10px;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    width: 170px;
    height: 490px;
    padding-top: 20px;
    margin: 0 40 0;
}

.right{
    justify-content: flex-start;
}

.actions {
    width: 85px;
    height: 85px;
    margin-top: 5px;
}

.select{
    border-color: red;
    border-radius: 10px;
    border-style: solid;
    border-width: 6px;
}
.brick{
    background-image: url(resources/brick.jpg);
    background-repeat: repeat;
    background-size: 36px;
    height: 80px;
    width: 140px;
}

.board {
    display: flex;
    justify-content: flex-start;
    height: 700px;
}

.middle{
    width: 1250px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cluster{
    width: 1200px;
    height: auto;
}

.game{
    background-color: rgb(140,253,142);
    border-radius: 10px;
    width: 580px;
    height: 200px;
    padding: 15 20 15 15;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px black;
    position: relative;
    right: 600;
    bottom: 100;
}

.form-inline{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

input[type=text]{
    width: 470px;
}

input[type=submit]{
    font-size: 20px;
    margin-left: 10px;
}

.bigger{
    font-size: 35px;
}

.shadow{
    text-shadow: 5px 5px 5px rgb(255, 106, 106);
}

.ikea{
    position: absolute;
    bottom: 231px;
    right: 1315px;
    height: 248px;
    width: 178px;
}

.apple{
    position: absolute;
    bottom: 310px;
    right: 710px;
    height: 195px;
    width: 220px;

}