body {
    display: flex;
    justify-content: center;
    font-family: 'Sofia';
}

.container {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

.menu {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(93, 90, 83);
    border-radius: 15px;
    max-width: 400px;
    width: 25%;
    height: 50px;
    -webkit-transition: height 2s;
    transition: height 2s;
    overflow: hidden;
    padding-top: 20px;
}

.menu:hover {
    height: 550px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-color: rgb(93, 90, 83);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    height: 330px;
    color: black;
}


/*
.dropdown:hover .dropdown-content {
    display: block;
} */

.nom {
    font-size: 20px;
    display: flex;
    justify-content: center;
    height: 100px;
}

.left {
    color: rgb(164, 67, 60);
}

.right {
    color: rgb(158, 190, 118);
}

ul {
    list-style: disc;
}

li {
    padding-left: 20px;
    margin: 20 0 20 0;
}

.price {
    display: flex;
    height: 115px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}