body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

.menu {
    border-width: 1px;
    border-style: solid;
    max-width: 400px;
    width: 25%;
    height: 100px;
    -webkit-transition: height 2s;
    transition: height 2s;
    overflow: hidden;
}

.menu:hover {
    height: 700px;
}

.left {
    border-color: red;
}

.right {
    border-color: blue;
}

.dropdown {
    position: relative;
    display: inline-block;
}


/* .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

.nom {
    font-size: 20px;
    display: flex;
    justify-content: center;
    height: 100px;
}

.left .nom {
    background-color: rgb(255, 138, 117);
}

.right .nom {
    background-color: rgb(144, 144, 255);
}